@import "../../../variables";

.simpr-explorer {
  position: fixed;
  background: white;
  border-right: 1px solid grey;
  width: $simpr-explorer-width;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000001;
}

.simpr-explorer--close {
  left: -$simpr-explorer-width;

  .simpr-explorer__menu__button {
    position: relative;
    left: 40px;
  }
}

.simpr-explorer__menu {
  padding: 10px 5px;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simpr-explorer__panel {
  padding: 10px;
}
